<br>
<section class="jumbotron2 text-center">
  <div class="container">
    <div class="btn-group mr-2" role="group" aria-label="First group" style="width: 30%">
      <button class="btn btn-outline-primary" style="width: 50%"
              (click)="newCard()">{{'BANK.NEW_CARD' | translate}}</button>
      <a class="btn btn-outline-primary" style="width: 50%" routerLink="/receipt"> {{'BANK.RECEIPTS' | translate}} </a>
    </div>
  </div>
</section>

<div class="container py-5" *ngIf="isNew">

  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <section class="jumbotron2 text-center">
          <a data-toggle="pill" class="nav-link active rounded-pill " style=" margin-right: 0" (click)="close()"> <i
            class="fas fa-times fa-2x "></i></a>

        </section>
        <ul class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
          <li class="nav-item">
            <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill ">
              <i class="fa fa-credit-card"></i>
              {{'BANK.CREDIT_CARD' | translate}}
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="nav-tab-card" class="tab-pane fade show active">

            <form (ngSubmit)="f.form.valid && save()" #f="ngForm"
                  [ngClass]="f.submitted ? 'was-validated' : ''">

              <div class="form-group" [ngClass]="{'has-error': f.submitted && !id.valid}">
                <label for="id"> {{'BANK.CARD_NUMBER' | translate}} </label>
                <div class="input-group">
                  <input id="id" type="text" pattern="\d*" placeholder="{{'BANK.CARD_NUMBER' | translate}}"
                         class="form-control"
                         [(ngModel)]="card.id" #id="ngModel" name="id" maxlength="16" required/>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group mb-4">
                    <label><span class="hidden-xs"> {{'BANK.EXPIRATION' | translate}} </span></label>
                    <div class="input-group" [ngClass]="{'has-error': f.submitted && !exp.valid}">
                      <input id="month" type="text" pattern="\d*" placeholder="{{'BANK.MONTH' | translate}}"
                             class="form-control" [(ngModel)]="card.expMonth" #exp="ngModel" maxlength="2"
                             name="expMonth" required/>
                      <input type="text" pattern="\d*" placeholder="{{'BANK.YEAR' | translate}}" class="form-control"
                             [(ngModel)]="card.expYear" #exp="ngModel" maxlength="4" name="expYear" required/>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group mb-4" [ngClass]="{'has-error': f.submitted && !ccv.valid}">
                    <label data-toggle="tooltip" title="{{'BANK.CCV_INFO' | translate}}">
                      <i class="fa fa-question-circle"></i>
                    </label>
                    <input type="password" pattern="\d*" placeholder="CCV" class="form-control"
                           [(ngModel)]="card.ccv" #ccv="ngModel" maxlength="3" name="ccv" required/>
                  </div>
                </div>
              </div>

              <button type="submit"
                      class="subscribe btn btn-primary btn-block rounded-pill shadow-sm ">{{'BANK.CONFIRM' | translate}}</button>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5" *ngIf="isEdit">

  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <section class="jumbotron2 text-center">
          <a data-toggle="pill" class="nav-link active rounded-pill " style=" margin-right: 0" (click)="close()"> <i
            class="fas fa-times fa-2x "></i></a>

        </section>
        <ul class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
          <li class="nav-item">
            <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill ">
              <i class="fa fa-credit-card"></i>
              {{'BANK.EDIT_CARD' | translate}}
            </a>
          </li>
        </ul>
        <div class="tab-content">

          <div id="nav-tab-card" class="tab-pane fade show active">

            <form (ngSubmit)="f.form.valid && update()" #f="ngForm"
                  [ngClass]="f.submitted ? 'was-validated' : ''">

              <div class="form-group">
                <label for="card_number">{{'BANK.CARD_NUMBER' | translate}}</label>
                <div class="input-group">
                  <input type="number" id="card_number" name="id" class="form-control"
                         maxlength="16" [(ngModel)]="card.id" disabled/>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group mb-4" [ngClass]="{'has-error': f.submitted && !balance.valid}">
                    <label for="balance"> {{'BANK.BALANCE' | translate}} </label>
                    <input type="text" name="balance" id="balance" pattern="[0-9]+([,.][0-9]+)?"
                           placeholder="{{'BANK.BALANCE' | translate}}"
                           class="form-control" maxlength="16" [(ngModel)]="card.balance" #balance="ngModel" required/>
                  </div>
                </div>

              </div>

              <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm ">
                {{'BANK.CONFIRM' | translate}}
              </button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container-fluid text-center">

  <div class="table_info shadow">

    <div class="card-body text-center">
      <div class="table-responsive table mt-2 text-center" id="dataTable">
        <table class="table_info dataTable my-0 text-center" id="dataTable">
          <thead>
          <tr>
            <th style="width: 40%">ID</th>
            <th style="width: 40%">{{'BANK.BALANCE' | translate}}</th>
            <th style="width: 20%"><em class="fa fa-cog"></em></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of cardList ">
            <th scope="row" style="width: 40%"> {{item.id}}</th>
            <th scope="row" style="width: 40%">{{item.balance}}</th>
            <td style="width: 20%">
              <button class="btn btn-default" (click)="onEdit(item.id, item.balance)">
                <i class="fa fa-wrench" aria-hidden="true"></i>
              </button>
              <button class="btn btn-default" (click)="delete(item.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
