<section class="jumbotron2 text-center">
  <div class="container">
    <br>
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <a class="btn btn-outline-primary" (click)="findAllOrders()"> {{'ORDERS.SHOW_ALL' | translate}} </a>
      <a class="btn btn-outline-primary" (click)="findNotPaidOrders()"> {{'ORDERS.SHOW_NOT_PAID' | translate}} </a>
      <a class="btn btn-outline-primary" (click)="findDeliveredOrders()"> {{'ORDERS.SHOW_DELIVERED' | translate}} </a>
      <a class="btn btn-outline-primary" (click)="findArchivedOrders()"> {{'ORDERS.SHOW_ARCHIVED' | translate}} </a>
    </div>
  </div>
</section>

<br>
<div>

  <form #f="ngForm" (ngSubmit)="searchOrder()">

    <div class="jumbotron2 text-center">
      <div class="container" id="dataTable_filter">
        <label>
          <input type="number" min="0" class="form-control form-control-sm"
                 placeholder="{{'ORDERS.SEARCH' | translate}}" [(ngModel)]="id" name="id" ngModel="searchId">
        </label>
        <button type="submit" class="btn btn-default" style="display: none;">Search</button>
      </div>
      <br>
    </div>
  </form>

  <div class="container py-5" *ngFor="let item of orderList ">

    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">

          <ul class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
            <li class="nav-item">
              <b>
                <h4 data-toggle="pill">{{item.id}}</h4>
              </b>
            </li>

          </ul>

          <div class="tab-content">

            <div id="nav-tab-card" class="tab-pane fade show active">

              <div class="form-group">
                <div> {{"ORDERS.STATUS" | translate}} : {{("ORDERS.STATUS_" + item.status) | translate}} </div>
              </div>

              <div class="form-group">
                <div>{{'ORDERS.TYPE' | translate}} : {{item.orderType.name}}</div>
              </div>

              <div class="form-group">
                <div> {{'ORDERS.WEIGHT' | translate}} : {{item.weight}}</div>
              </div>

              <div class="form-group">
                <div>
                  {{'ORDERS.DESTINATION' | translate}} : {{item.destination.cityFrom}} - {{item.destination.cityTo}}
                </div>
              </div>

              <div class="form-group">
                <div> {{'ORDERS.SHIPPING_DATE' | translate}} : {{item.shippingDate}} </div>
              </div>


              <div class="form-group">
                <div> {{'ORDERS.DELIVERY_DATE' | translate}} : {{item.deliveryDate}} </div>
              </div>

              <div class="form-group">
                <div> {{'ORDERS.SHIPPING_PRICE' | translate}} : {{item.shippingPriceInCents}} </div>
              </div>

              <div class="form-group">
                <div> {{("ORDERS.DESCRIPTION") | translate}} : {{item.description}} </div>
              </div>

              <div class="form-group text-center" *ngIf="item.receipt != null ">
                <a class="btn btn-outline-primary" (click)="showReceipt(item.receipt.id)">
                  {{'ORDERS.SHOW_RECEIPT' | translate}}
                </a>
              </div>

              <div class="form-group text-center" *ngIf="item.receipt == null ">
                <a class="btn btn-outline-primary" (click)="pay(item.id, item)">
                  {{'ORDERS.PAY' | translate}}
                </a>
              </div>

              <div class="form-group text-center" *ngIf="item.status == 'RECEIVED' ">
                <button class="btn btn-outline-primary" (click)="archiveOrder(item)">
                  {{'ORDERS.ARCHIVE' | translate}}
                </button>
              </div>


              <div class="form-group text-center" *ngIf="item.status == 'NOT_PAID' ">
                <button class="btn btn-outline-primary" (click)="deleteOrder(item)">
                  {{'ORDERS.DELETE' | translate}}
                </button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

</div>
