<section class="jumbotron text-center">
  <div class="container">

    <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm"
          [ngClass]="f.submitted ? 'was-validated' : ''">

      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3 form-group" [ngClass]="{'has-error': f.submitted && !username.valid}">
          <i class="fas fa-user"></i>
          <label for="username">{{'LOGIN.USERNAME' | translate}}</label>
          <input type="text" name="username" class="form-control" id="username" [(ngModel)]="user.login"
                 #username="ngModel" required/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3 form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
          <i class="fas fa-lock"></i>
          <label for="password">{{'LOGIN.PASSWORD' | translate}}</label>
          <input type="password" name="password" class="form-control" id="password" [(ngModel)]="user.password"
                 #password="ngModel" required/>
        </div>
      </div>

      <br/>
      <div class="row">
        <div class="col-md-6 offset-md-3 form-group text-center">
          <button type="submit" class="button">{{'LOGIN.LOGIN' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</section>
