<br>
<section style="margin-left: auto; margin-right: auto">
  <div>

    <div class="row">
      <div class="col-lg-5 mx-auto ">
        <div [hidden]="submitted" style="width: 400px;">

          <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                [ngClass]="f.submitted ? 'was-validated' : ''">

            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
              {{errorMessage}}
            </div>

            <div class="pannel-group text-center">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">{{'NEW_ORDER.NEW_ORDER' | translate}}</h3>
                </div>
                <div class="panel-body text-center">

                  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                    {{errorMessage}}
                  </div>

                  <div class="row">

                    <div class="col-md-12 form-group text-center"
                         [ngClass]="{'has-error': f.submitted && !description.valid}">
                      <label for="description">{{'NEW_ORDER.DESCRIPTION' | translate}}</label>
                      <input type="text" name="description" class="form-control" id="description" minlength="3"
                             maxlength="255"
                             [(ngModel)]="order.description" #description="ngModel" required/>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 offset-md-1 form-group text-center"
                         [ngClass]="{'has-error': f.submitted && !weight.valid}">
                      <label for="weight">{{'NEW_ORDER.WEIGHT' | translate}}</label>
                      <input type="number" name="weight" id="weight" class="form-control" [(ngModel)]="order.weight"
                             #weight="ngModel" min="0" required/>
                    </div>

                    <div class="col-md-5 offset-md-0 form-group text-center"
                         [ngClass]="{'has-error': f.submitted && !type.valid}">
                      <label for="type">{{'NEW_ORDER.TYPE' | translate}}</label>
                      <select id="type" name="type" class="form-control" [(ngModel)]="order.type" #type="ngModel"
                              required>
                        <option *ngFor="let item of types" value="{{item.id}}"> {{item.name}} </option>
                      </select>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-md-5 offset-md-1 form-group text-center"
                         [ngClass]="{'has-error': f.submitted && !destinationF.valid}">
                      <label for="destinationsFrom">{{'NEW_ORDER.DESTINATION_FROM' | translate}}</label>
                      <select id="destinationsFrom" class="form-control" [(ngModel)]="order.destinationCityFrom"
                              #destinationF="ngModel" name="destinationCityFrom" required>
                        <option *ngFor="let item of destinationsFrom" value="{{item}}"> {{item}} </option>
                      </select>

                    </div>

                    <div class="col-md-5 offset-md-0 form-group text-center"
                         [ngClass]="{'has-error': f.submitted && !destinationT.valid}">
                      <label for="destinationsTo">{{'NEW_ORDER.DESTINATION_TO' | translate}}</label>
                      <select id="destinationsTo" class="form-control" [(ngModel)]="order.destinationCityTo"
                              #destinationT="ngModel" name="destinationCityTo" required>
                        <option *ngFor="let item of destinationsTo" value="{{item}}"> {{item}} </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-outline-primary">{{'NEW_ORDER.SUBMIT' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
