<br>
<section class="jumbotron2 text-center">
  <div class="container">
    <section class="text-center" style="margin-right: auto; margin-left: auto; ">
      <div class="container">
        <b><h4> {{'GENERAL.INFO1' | translate}}</h4></b>
      </div>
    </section>

    <section class="text-left" style="margin-right: auto; margin-left: auto; ">
      <div class="container">
        <p class="lead text-muted "> {{'GENERAL.INFO2' | translate}}</p>
      </div>
    </section>

    <br>

    <section class="text-center" style="margin-right: auto; margin-left: auto; ">
      <div class="container">
        <b><h4> {{'GENERAL.INFO3' | translate}}</h4></b>
      </div>
    </section>

    <section class="text-left">
      <div class="container">
        <p class="lead text-muted "> {{'GENERAL.INFO4' | translate}}</p>
        <p class="lead text-muted "> {{'GENERAL.INFO5' | translate}}</p>
        <p class="lead text-muted "> {{'GENERAL.INFO6' | translate}}</p>
        <p class="lead text-muted "> {{'GENERAL.INFO7' | translate}}</p>
      </div>
    </section>

    <br>

    <section class="text-center" style="margin-right: auto; margin-left: auto;">
      <div class="container">
        <b><h4> {{'GENERAL.INFO8' | translate}}</h4></b>
      </div>
    </section>

    <section class="text-left" style="margin-right: auto; margin-left: auto;">
      <div class="container">
        <p class="lead text-muted "> {{'GENERAL.INFO9' | translate}}</p>
        <p class="lead text-muted "> {{'GENERAL.INFO10' | translate}}</p>
        <p class="lead text-muted "> {{'GENERAL.INFO11' | translate}}</p>
      </div>
    </section>

    <br>

    <section class="text-center" style="margin-right: auto; margin-left: auto;">
      <div class="container">
        <b><h4> {{'GENERAL.INFO12' | translate}}</h4></b>
      </div>
    </section>

    <section class="text-left" style="margin-right: auto; margin-left: auto;">
      <div class="container">
        <p class="lead text-muted "> {{'GENERAL.INFO13' | translate}}</p>
        <p class="lead text-muted "> {{'GENERAL.INFO14' | translate}}</p>
      </div>
    </section>
    <br>
  </div>
</section>
